{{#each this}}
<tr id={{id}}>
    <td>{{name}} </td>
    <td>{{created}}</td>
    <td>{{category}}</td>
    <td class="item-content ">{{content}}</td>
    <td>{{dates}}</td>
    <td id="btn-list">
        <button type="button" class="btn btn-outline-secondary" id="edit-btn" noteId={{id}} data-toggle="modal"  data-target="#edit-modal">
            <svg width="16" height="16" id="edit-btn" noteId={{id}}>
                <use href="./assets/icons/sprite.svg#edit" id="edit-btn" noteId={{id}}></use>
            </svg>
        </button>

        <button type="button" class="btn btn-outline-secondary" id="go-to-arhive-btn" noteId={{id}}>
            <svg width="16" height="16" id="go-to-arhive-btn" noteId={{id}}>
                <use href="./assets/icons/sprite.svg#archive" id="go-to-arhive-btn" noteId={{id}}></use>
            </svg>
        </button>

        <button type="button" class="btn btn-outline-secondary delete" id="delete-btn"  noteId={{id}}>
            <svg width="16" height="16"  id="delete-btn"  noteId={{id}} >
                <use href="./assets/icons/sprite.svg#delete" id="delete-btn"  noteId={{id}}></use>
            </svg>
        </button>

    </td>
</tr>
{{/each}}
